/* Variables
-------------------------------------------------------------- */
$main-body-color:#fff;
$main-rollover-color: #224243;
$main-font:  sans-serif;

/* apply a natural box layout model to all elements http://paulirish.com/2012/box-sizing-border-box-ftw
-------------------------------------------------------------- */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Font Treatment
-------------------------------------------------------------- */


body {
	font-family:$main-font;
	line-height: 1.6em;
	color: $main-body-color;
}

input {
	font: .9em/1.4  Arial, sans-serif;
}


/* Headings
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
	font-weight: 400; /* Be specific */
	margin-bottom :.3em;
}

h1 {font: 1.8em/1.1em $main-font, sans-serif;}
h2 {font: 1.6em/1.1em $main-font, sans-serif;}
h3 {font: 1.5em/1.1em $main-font, sans-serif;}
h4 {font: 1.2em/1.1em $main-font,  sans-serif;}
h5 {font: 1.1em/1.1em $main-font,  sans-serif;}
h6 {font: 1em/1.1em $main-font,  sans-serif;}


/* Site Structure
-------------------------------------------------------------- */
html,body {
	margin:0;
	padding:0;
	height: 100%;
	width:100%;
	border:none;
}

#tedCont{
  width:697px;
  background-color: transparent;
  position: absolute;
  left:50%;
  margin-left: -348px;
  top:50%;
  margin-top: -238px;
  height: 475px;
  #mouth{
    position: absolute;
    top:224px;
    left:81px;
  }
  img{
    cursor: pointer;
    width:256px;
  }
  div {
    img {
      width: 108px;
    }
  }
  #bubble{
    background: url("/img/bubble.png") no-repeat;
    background-size:450px 158px;
    width:450px;
    height: 158px;
    position: absolute;
    top:0;
    right: 0;
    #headline{
      width: 100%;
      text-align: center;
      margin-left: 25px;
      margin-top: 20px;
      span{
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
      }
    }
    #count {
      width: 100%;
      text-align: center;
      margin: 70px 25px;
      font-size: 40px;
      span{
        color:#0936ab;
      }
    }
    #instructions{
      background-color: transparent;
      width: 100%;
      text-align: left;
      margin: 30px 70px;
      font-size: 14px;
    }
  }
}